@import "./includes/home";
@import "./includes/modal";
@import "./includes/search-two";
@import "./includes/header";

body {
  margin: 0;
  padding: 0%;
}

//Rating
.rating {
  div {
    width: 28px;
    height: 29px;
    background-color: #5ba829;
    color: white;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 3px 0 0;
  }
}

input {
  border: none;
  background: ghostwhite;
  padding: 11px 10px;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
