header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  .logo {
    color: #009688;
  }
  nav {
    a {
      margin: 0 15px;
      text-decoration: none;
      color: #00bcd4;
      font-weight: 500;
    }
  }
}
